*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    border: 2px solid black;
    margin: 2% auto;
    width: 36%;
    padding: 1%;
}
.heading1{
    text-align: center;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}
.sub-heading span{
    display: inline-block;
    width: 49%;
}
.sub-heading span:last-child{
    text-align: right;
}
.big{
    height: 6px;
    background-color: black;
    margin-top: 2px;
}
.calorie{
    font-size: 30px;
}
.small{
    height: 4px;
    background-color: black;
}
