*{  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.offer{
    padding-top: 5px;
    height: 25px;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, #333333, #dd1818);
}
.head .nav{
    position: sticky;
    -webkit-sticky: ture;
}
.nav{
    display: block;
    position: sticky;
    top: 0;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: black;
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li{
    color: white;
    display: inline-block;
    padding-right: 15px;
}
.one{
    background-image: url(https://static01.nyt.com/images/2021/03/30/multimedia/28xp-shoes-09/28xp-shoes-09-superJumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}
.main-text{
    color: white;
    position: absolute;
    top: 200px;
    left: 100px;
    right: 280px;
    backdrop-filter: blur(10px) saturate(75%);
    padding: 20px 20px 20px 0px;
}
.two{
    background-color: rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.7);
    height: 250px;
    margin: 10px 30px 10px 30px;
}


.shoe-image{
    display: flex;
}

.names{
    text-align: center;
    border: #FFF;
}

.photos img{
    background-color: white;
    margin-left: 4px;
    height: 170px;
    width: 170px;
    margin: 2px;
}

.two{
    padding: 10px;
    padding-top: 10px;
    color: black;
    
}

#one-shoe{
    border: 1px solid white;
    background-color: #FFF;
}
#two-shoe{
    border: 1px solid white;
    background-color: #FFF;
}
#three-shoe{
    border: 1px solid white;
    background-color: #FFF;
}

#three{
    height: 600px;
    background: linear-gradient(to left, #000000, #434343);
    padding: 70px 70px 70px 70px;
}
#three #main-third{
    color: white;
    background: linear-gradient(to right, #000000, #e74c3c);
    padding: 5% 50% 5% 5%;
}
#three img{
    position: absolute;
    left: 850px;
    height: 200px;
    width: 200px;
    border: 1px solid;
    border-radius: 100px;
    margin: 0 50px;
    box-shadow: 5px 5px 5px #888888;
    
}

#three img:active{
    transform: scale(1.5);
    transform-origin: 100% 40%;
}

